/***** general *****/
h2 {
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
}
h2:first-letter {
	margin-right: .1em;
	font-size: 1.5em;
}

p.guide {
	font-size: 20px;

}
img.maxsize {
	width: 100%;

}


.small80{
  margin: auto 10%;
}

/****** Home カルーセルについて *****/
.item img {
	height: 100px;
	width:	100%;
}

.fluid2 {
	padding:0;
}




/****** ヘッダーについて ******/
header.jumbotron {

    }
		header.jp {
			background: url("../img/jumbotron/jp.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.jp_tokyo {
			background: url("../img/carousel1920x1040/tokyo.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.jp_kyoto {
			background: url("../img/carousel1920x1040/kyoto.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.jp_hiroshima {
			background: url("../img/carousel1920x1040/hiroshima.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.fr {
			background: url("../img/jumbotron/fr.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.fr_paris {
			background: url("../img/carousel1920x1040/paris.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}
		header.fr_paris {
			background: url("../img/carousel1920x1040/strasbourg.jpg");
			background-position: center center;
      background-size: cover;
      color: #fff;
		}


    header .container {
      margin-top: 13%;
    }

    header .midashi-btn {
      border: 1px solid #fff;
      color: #fff;
      border-radius: 0;
    }

    header .midashi-btn:hover {
      color: #0089ff;
      border-color: #0089ff;
    }

    .navbar-form {
      padding-right: 30px;
    }

/***** Ghost Button *****/
.btn-ghost {
  background: transparent;
}
.btn-ghost.btn-white {
  color: #fff;
  border: 1px solid #fff;
}
.btn-ghost.btn-white:hover {
  color: #333;
  background: #fff;
}

/***** cardについて *****/
.card {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 5px #ccc;
	padding-bottom: 10px;
	margin: 5px auto;
}
  .card-img {
	  border-radius: 5px 5px 0 0;
	  max-width: 100%;
	  height: auto;
  }
  .card-content {
  	padding: 10px;
  }
  .card-title {
	  font-size: 20px;
	  margin-bottom: 15px;
	  text-align: center;
	  color: #333;
  }
  .card-text {
	  color: #777;
	  font-size: 14px;
	  line-height: 1.5;
  }
  .card-link {
	  text-align: center;
	  border-top: 1px solid #eee;
	  padding: 15px;
  }
  .card-link a {
	  text-decoration: none;
	  color: #0bd;
	  margin: 0 10px;
  }
  .card-link a:hover {
  	color: #0090aa;
  }
